<b>userRegistration</b>
<!-- <span style="colour:red">{{error.errorMessage}}</span>-->
<form>
<pre>
Enter email:<input type="email" data-ng-model="user.email">
Enter password:<input type="password" data-ng-model="user.possword">
Enter firstname:<input type="text" data-ng-model="user.firstname">
Enter lastname:<input type="text" data-ng-model="user.lastname">
Enter phonenumber:<input type="text" data-ng-model="user.phonenumber">
Select Role<select data-ng-model="user.role">
<option value="STUDENT">Student
<option value="USER">User
<option value="EMPOLY">Empoly
<option value="CUSTMORE">Custmore
</select>
<button data-ng-click="userRegistration(user)" class="btn btn-primary">Register</button>
</pre>
</form>