<!-- <link rel="stylesheet" type="text/css" href="css/style.css"> -->
 <div class="edituser">
<b>edit user details</b> 
<form>
<pre>
Enter email:<input type="email" data-ng-model="user.email" disabled>
Enter possword:<input type="password" data-ng-model="user.possword">
Enter firstname:<input type="text" data-ng-model="user.firstname">
Enter lastname:<input type="text" data-ng-model="user.lastname">
Enter phonenumber:<input type="text" data-ng-model="user.phonenumber">
Select Role :<select data-ng-model="user.role">
<option value="STUDENT">student
<option value="USER">user
<option value="EMPOLY">empoly
</select>
<button data-ng-click="updateUser(user)" class="btn btn-primary">Edit</button>
</pre>
</form>
</div>


		 